body,#div_wrapper,#video_area,#video
{
    padding: 0px;
    margin: 0px;
}
body
{
    overflow: hidden;
}
#videoArea
{
    width: 100%;
    height: 100%;
    position: relative;
}
#sys_functions
{
    position: absolute;
    z-index: 10;
    top: 5px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#name_area
{
    position: relative;
    left: 50px;
    top: 15px;
    font-size: 50px;
    margin: 10px;
    width: 30px;
    height: 30px;
    border: none;
}
#video_wrapper
{
    
    
    background-image: url("../src/img/back.png");
    background-size: 100%;
    position: absolute;
    z-index: 1;
}
#control_panel
{
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: absolute;
    z-index: 220;
    bottom: 10px;
}

#video_wrapper,#video
{
    width: 100%;
    height: 100%;
}

#volume_bar, #video_speed,#fullscrn
{
    margin: 10px;
    float: right;
}

#play_stop
{
    width: 30px;
    height: 30px;
    margin: 10px;
    float: left;
    background-color: transparent;
    border: none;
}
.pause
{
    background-image: url("../src/img/pause.png");
}

.play
{
    background-image: url("../src/img/play.png");
}

#progress_bar
{
    margin: 10px;
    width:60% ;
}

#fullscrn
{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-image: url("../src/img/fullScreen.png");
    background-repeat:no-repeat;
}

#open_file_btn
{
    margin: 10px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-image: url("../src/img/fileOpen.png");
    background-repeat:no-repeat;
}


#quit_btn
{
    margin: 10px;
    float: right;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-image: url("../src/img/exit.png");
    background-repeat:no-repeat;
}
#change_style_btn
{
    margin: 10px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-image: url("../src/img/change.png");
    background-repeat:no-repeat;
}

.slider
{
    -webkit-appearance: none;
    padding-top: 10;
    margin-bottom: 10;
    background: transparent;
}

.slider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    border: none;
    height: 29px;
    width: 35px;
    background:transparent;
    background-image: url("../src/img/arrow.png");
    cursor: pointer;
}

.slider::-webkit-slider-runnable-track 
{
    -webkit-appearance: none;
    height: 4px;
    background: #000000;
}

#video_speed
{

    height: 30px;
    border-color: transparent;
    border-radius: 5px;
    background-color:rgb(170, 217, 241)
}